<%= flash[:error] %>
<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h4>会員の方はこちらからログイン</h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <% end %>

      <%= render "members/shared/links" %>
      <%= link_to "管理者の方はこちら", new_admin_session_path %>

    </div>
    <div class="col-xs-1"></div>
  </div>
</div>