<%= flash[:error] %>
<div id="wrapper">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h3 class="heading">会員の方はこちらからログイン</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <% end %>

      <%= render "members/shared/links" %>
      <%= link_to "管理者の方はこちら", new_admin_session_path %>
      <div class="initial_members">
        <h1>初期登録Members</h1>
        <table>
          <tr>
            <th>メールアドレス</th>
            <th>パスワード</th>
          </tr>
          <tr>
            <td>a@a</td>
            <td>aaaaaa</td>
          </tr>
          <tr>
            <td>b@b</td>
            <td>bbbbbb</td>
          </tr>
          <tr>
            <td>c@c</td>
            <td>cccccc</td>
          </tr>
        </table>
      </div>
      <div class="initial_members">
        <h1>初期登録Genres</h1>
        <table>
          <tr>
            <th>ケーキ</th>
          </tr>
          <tr>
            <th>チョコレート</th>
          </tr>
          <tr>
            <th>焼き菓子（無効）</th>
          </tr>
          <tr>
            <th>和菓子</th>
          </tr>
          <tr>
            <th>アイス</th>
          </tr>
          <tr>
            <th>クレープ</th>
          </tr>
        </table>
      </div>
      <div class="initial_members">
        <h1>初期登録Items</h1>
        <table>
          <tr>
            <th>ショートケーキ</th>
          </tr>
          <tr>
            <th>チョコクランチ（おいしい）</th>
          </tr>
          <tr>
            <th>チョコっとおいしいパン（無効）</th>
          </tr>
          <tr>
            <th>焼き菓子のようななにか</th>
          </tr>
          <tr>
            <th>焼いたお菓子（無効）</th>
          </tr>
        </table>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div>