<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h4>注文履歴一覧</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>注文日</th>
						<th>配送先</th>
						<th>注文商品</th>
						<th>支払金額</th>
						<th>ステータス</th>
						<th>注文詳細</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
						<td><%= order.postal_code %><%= order.address %><%= order.name %></td>
						<% sum_all = 0 %>
						<% order.order_items.each do |order_item| %>

						<td><%= order_item.item.name %>
							<br>
						</td>
							<% sub_total = price_include_tax(order_item.item.price).to_i * order_item.amount %>
							<% sum_all += sub_total.to_i %>
							<% end %>
						<td><%= sum_all += order.deliver_charge.to_i %></td>
						<td></td>
						<td><%= link_to "表示する", order_path(order.id)  %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-xs-1"> </div>
	</div>
</div>