<div id="wrapper">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h3 class="heading">注文履歴一覧</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th style="text-align:center;">注文日</th>
						<th style="text-align:center;">配送先</th>
						<th style="text-align:center;">注文商品</th>
						<th style="text-align:center;">支払金額</th>
						<th style="text-align:center;">ステータス</th>
						<th style="text-align:center;">注文詳細</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
						<td>
							<%= order.postal_code %><br>
							<%= order.address %><br>
							<%= order.name %>
						</td>
						<% sum_all = 0 %>
						<td style="overflow:hidden; text-overflow:ellipsis;">
							<% order.order_items.each do |order_item| %>
								<%= order_item.item.name %><br>
							<% sub_total = price_include_tax(order_item.item.price).to_i * order_item.amount %>
							<% sum_all += sub_total.to_i %>
							<% end %>
						</td>
						<td><%= sum_all += order.deliver_charge.to_i %></td>
						<td><%= order.order_status %></td>
						<td><%= link_to "表示する", order_path(order.id), class:"btn btn-primary"  %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>