<div id="wrapper">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
	<div class="order-new-title">
		<h3 class="heading">注文情報確認</h3>
	   </div>
			<%= form_with(model: @order, local: true, url:{action: 'confirm'}) do |f| %>

			<!--支払方法-->
			<div class="order-new-payment-title">
				<strong>支払方法</strong>
			</div>
			<div class="order-payment">
				<br><label class="btn btn-outline-secondary" style="width:80px height:80px">
					<%= f.radio_button :payment_method, :クレジットカード %>
					<%= f.label :クレジットカード, class:"payment_method_label" %>
				</label>
				<br><label class="btn btn-outline-secondary" style="width:80px height:80px">
					<%= f.radio_button :payment_method, :銀行振込 %>
					<%= f.label :銀行振込, class:"payment_method_label" %>
				</label>
			</div>
			<div class="order-address-title">
				<br><strong>お届け先</strong>
			</div>
			<!--自身の住所-->
			<div class="order-address">
				<p>
					<label><%= f.radio_button :add, 1, checked:true, checked: "checked" %>ご自身の住所</label><br>
					<%= @member.postal_code %>
					<%= @member.address %>
					<%= @member.last_name %>
					<%= @member.first_name %>
				</p>
				<!--登録済住所-->
				<p><label><%= f.radio_button :add, 2, style: "display: inline-block" %>登録済住所から選択</label><br>
					<%= f.collection_select :address, @member.addresses, :id, :address %>
				</p>
						<!--新しい住所-->
				<p><label><%= f.radio_button :add, 3 %>新しいお届け先</label></p>
					<%= f.fields_for :new_add do |new_add| %>
						<strong>郵便番号（ハイフンなし）</strong>
							<%= new_add.text_field :postal_code, class:'form-control' %>
						<strong>住所</strong>
							<%= new_add.text_field :address, class:'form-control' %>
						<strong>宛名</strong>
							<%= new_add.text_field :name, class:'form-control' %>
					<% end %>
					<div class="confirm-btn">
						<%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
					</div>
				<% end %>
			</div>
		<div class="col-xs-1"></div>
	</div>
</div>