<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<div class="order-new-title">
			<h2><strong>注文情報確認</strong></h2>
			</div>
				<%= form_with(model: @order, local: true, url:{action: 'confirm'}) do |f| %>

				<!--支払方法-->
				<div class="order-new-payment-title">
					<h4><strong>支払方法</strong></h4>
				</div>
					<div class="order-payment">
						<label class="btn btn-outline-secondary" style="width:50%">
				        	<%= f.radio_button :payment_method, :クレジットカード %>
				       		<%= f.label :クレジットカード, class:"payment_method_label" %>
				      	</label>
				      	<label class="btn btn-outline-secondary" style="width:50%">
				        	<%= f.radio_button :payment_method, :銀行振込 %>
				        	<%= f.label :銀行振込　　　　, class:"payment_method_label" %>
				      	</label>
				    </div>
				    <div class="order-address-title">
						<h4><strong>お届け先</strong></h4>
					</div>
							<!--自身の住所-->
							<div class="order-address">
								<p class="order-myaddress">
									<label class="btn btn-outline-secondary">
									<%= f.radio_button :add, 1, checked:true, checked: "checked" %><strong>ご自身の住所</strong></label><br>
								  		<%= @member.postal_code%>｜
								  		<%= @member.address %>｜
								  		<%= @member.last_name %>
								  		<%= @member.first_name %>
								</p>
							<!--登録済住所-->
								<p>
									<label class="btn btn-outline-secondary"><%= f.radio_button :add, 2, style: "display: inline-block" %><strong>登録済住所から選択</strong></label><br>
									<%= f.collection_select :address, @member.addresses, :id, :address %>
								</p>
							<!--新しい住所-->
								<p>
									<label class="btn btn-outline-secondary"><%= f.radio_button :add, 3 %><strong>新しいお届け先</strong></label></p>
										<%= f.fields_for :new_add do |new_add| %>
											<p>郵便番号（ハイフンなし）</p>
												<%= new_add.text_field :postal_code, class:'form-control' %>
											<p>住所</p>
												<%= new_add.text_field :address, class:'form-control' %>
											<p>宛名</p>
												<%= new_add.text_field :name, class:'form-control' %>
										<% end %>
							</div>
							<div class="confirm-btn">
								<%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
							</div>
				<% end %>
		</div>
	<div class="col-xs-1"></div>
</div>
</div>