<div id="wrapper">
	<!-- ジャンル検索 -->
	<aside id="sidebar">
		<div class="search">
	      <%= form_with url: items_path, method: :get, local: true do |f| %>
	      <%= f.text_field :search %>
	      <%= f.submit '商品検索', name: nil, class: "btn btn-primary" %>
	      <% end %>
	    </div>
		<%= render 'members/items/rank', genres: @genres, all_ranks: @all_ranks %>
      </aside>
	<!--商品一覧-->
	<section id="main">
		<section class="content">
			<h3 class="heading">　商品一覧</h3>
			<% @items.each do |item| %>
				<%= link_to item_path(item.id) do  %>
					<%= render 'list', item: item %>
				<% end %>
			<% end %>
		</section>
	</section>
</div>