<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<!--ジャンル検索欄-->
			<table class="table table-bordered">
				<tr>
					<th><strong>ジャンル検索</strong></th>
				</tr>
				<% @genres.each do |genre| %>
				<tr>
					<td><%= link_to genre.name, genre_path(genre.id) %></td>
				</tr>
				<% end %>
			</table>
			<table class="table table-bordered">
				<tr>
					<th colspan="2"><strong>人気ランキング</strong></th>
				</tr>
				<% @all_ranks.each.with_index(1) do |item, i|%>
                <tr>
					<th>No.<%= i %></th>
					<td>
						<%= link_to item_path(item.id) do  %>
							<%= attachment_image_tag item, :img, format: 'jpeg', fallback: "no_image.jpg", size: "30x30" %>
							<p><%= item.name %><p>
						<% end %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
		<div class="col-xs-9">
			<!--商品一覧-->
			<h2><strong>商品一覧</strong></h2>
				<% @items.each do |item| %>
					<%= render 'list', item: item %>
				<% end %>
		</div>
	</div>
</div>