<h2>商品詳細</h2>
<h4>商品名</h4>
<%= @item.name %>
<%= attachment_image_tag @item, :img, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
<h4>商品説明</h4>
<%= @item.detail %>
<h4>価格</h4>
<%= @item.price %>(<%= tax(@item.price) %>)
<%= form_with(model: [@item, @cart], local: true, url: {controller: 'carts', action: 'create'}) do |f| %>
	<%= f.number_field :amount, value: 1, min: 1, max:99 %>個
	<%= f.hidden_field :item_id, value: @item.id %>
	<%= f.submit "カートに入れる", class: "btn btn-danger" %>
<% end %>