<div id="wrapper">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <h3 class="heading"><%= "#{@member.last_name} #{@member.first_name}さんの会員情報編集" %></h3>
      <%= form_with model: @member, url: admins_member_path, local: true do |f| %>
      <table class="table table-bordered">
        <tr>
          <th><%= "会員ID" %></th>
          <td><%= @member.id %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= "氏名" %></th>
          <td><%= f.text_field :last_name, class:"form-control" %></td>
          <td><%= f.text_field :first_name, class:"form-control" %></td>
        </tr>
        <tr>
          <th><%= "フリガナ" %></th>
          <td><%= f.text_field :last_name_kana, class:"form-control" %></td>
          <td><%= f.text_field :first_name_kana, class:"form-control" %></td>
        </tr>
        <tr>
          <th><%= "郵便番号(ハイフンなし)" %></th>
          <td><%= f.text_field :postal_code, class:"form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= "住所" %></th>
          <td><%= f.text_field :address, class:"form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= "電話番号(ハイフンなし)" %></th>
          <td><%= f.text_field :telephone_number, class:"form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= "メールアドレス" %></th>
          <td><%= f.text_field :email, class:"form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <th><%= "会員ステータス" %></th>
          <td><%= f.radio_button :is_deleted, :false %><%= f.label :is_deleted_false, "有効" %><%= f.radio_button :is_deleted, :true %><%= f.label :is_deleted_true, "退会済" %></td>
          <td></td>
        </tr>
      </table>
      <%= f.submit "変更を保存する", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>