<h2>ショッピングカート</h2>
<h2>商品一覧</h2>
<div class="row">
	<div class="col-xs-10">
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>商品</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% sum_all = 0 %>
				<% @carts.each do |cart| %>
				<tr>
					<td><%= cart.item.name %></td>
					<td><%= tax(cart.item.price) %></td>
					<td>
						<%= form_with model: cart, local: true do |f| %>
		    			<%= f.number_field :amount, value: cart.amount, min:1, max:99  %>
		    			<%= f.submit "変更", class: "btn btn-primary" %>
						<% end %>
					</td>
					<td>
						<%= sum_item = tax(cart.item.price).to_i * cart.amount %>円
						<!-- ↓用途要確認 -->
						<% sum_all += sum_item %>
				    </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

合計金額：<%= sum_all %>円