<h2>商品編集</h2>
<%= form_for(@item, url: admins_item_path) do |f| %>
商品名
<%= f.text_field :name, class:"form-control", placeholder:"商品名" %>
<!-- 商品画像 -->
<%= attachment_image_tag @item, :img, :fill, 60, 60, fallback: "no_image.jpg"%>
<%= f.attachment_field :img, placeholder: "プロフィール画像", class: "user-edit-form" %>
商品説明
<%= f.text_field :detail, class:"form-control", placeholder:"商品説明" %>
ジャンル
<%= f.collection_select :genre_id, @genres, :id, :name %>
<br>税抜価格
<%= f.text_field :price, class:"form-control", placeholder:"税抜価格" %>円
販売ステータス
<%= f.select :is_active ,[['販売中',true],['売り切れ',false]] %>
<%= f.submit '変更を保存' %>
<% end %>
