<h2>商品新規登録</h2>
<%= form_for(@item, url: admins_items_path) do |f| %>
	<div class="row">
	    <div class="col-sm-12">
	    </div>
	</div>
	<br>
	<div class="row">
	    <div class="col-sm-6">
	    	商品名
	    	<%= f.text_field :name, class:"form-control", placeholder:"商品名" %>
	    	商品説明
	    	<%= f.text_field :detail, class:"form-control", placeholder:"商品説明" %>
	    	ジャンル
	    	<%= f.collection_select :genre_id, @genres, :id, :name %>
	    	<br>税抜価格
	    	<%= f.text_field :price, class:"form-control", placeholder:"税抜価格" %>円
	    </div>
	  </div>
	  <%= f.submit "新規登録" %>
<% end %>
