<%= flash[:error] %>

<% if @member.errors.any? %>
	<h3><%= @member.errors.count%>個の誤りがあります。</h3>
		<% @member.errors.full_messages.each do |msg| %>
			<%= msg %>
		<% end %>
<% end %>



<h1>登録情報編集</h1>
<%= form_with url: members_update_pass_path, local:true, method: :patch do |f| %>
  <table>
		  <tr>
		    <th><%= "パスワード" %></th>
		      <td><%= f.password_field :password, class:"form-control" %></td>
		  </tr>
		  <tr>
		  <th><%= "パスワード確認用" %></th>
		      <td><%= f.password_field :password_confirmation, class:"form-control" %></td>
		  </tr>
		  <tr>
        <th><%= f.submit "変更を保存" %></th>
      </tr>
  </table>
<% end %>
