<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-7">
			<h1><strong>マイページ</strong></h1>
			<h4 style="float:left;"><strong>登録情報　　</strong></h4>
				<%= link_to "編集する" , edit_members_path, class:"btn btn-primary "%>
				<%= link_to "パスワードを変更する", class:"btn btn-primary" %>
        			<table class="table table-bordered" >
						 <tr>
						   <th class="info" style="text-align:center;"><%= "氏名" %></th>
						   <td style="text-align:center;"><%= current_member.last_name %><%= current_member.first_name %></td>
						 </tr>
						 <tr>
						   <th class="info" style="text-align:center;"><%= "カナ" %></th>
						   <td style="text-align:center;"><%= current_member.last_name_kana %><%= current_member.first_name_kana %></td>
						 </tr>
						 <tr>
						   <th class="info" style="text-align:center;"><%= "郵便番号" %></th>
						   <td style="text-align:center;"><%= current_member.postal_code %></td>
						 </tr>
						 <tr>
						  <th class="info" style="text-align:center;"><%= "住所" %></th>
						  <td style="text-align:center;"><%= current_member.address %></td>
						 </tr>
						 <tr>
						  <th class="info" style="text-align:center;"><%= "電話番号" %></th>
						  <td style="text-align:center;"><%= current_member.telephone_number %></td>
						 </tr>
						 <tr>
						  <th class="info" style="text-align:center;"><%= "メールアドレス" %></th>
						  <td style="text-align:center;"><%= current_member.email %></td>
						 </tr>
					  </table>
					  <h4 style="float:left;"><strong><%="配送先　　" %></strong></h4>
					   <p><%= link_to "一覧を見る", addresses_path, class:"btn btn-primary" %></p>
					   <h4 style="float:left;"><strong><%="注文履歴　" %></strong></h4>
					   <p><%= link_to "一覧を見る", orders_path, class:"btn btn-primary" %></p>

		</div>
		<div class="col-xs-4"></div>
	</div>
</div>