<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h2><strong>マイページ</strong></h2>
			<div class="register-info">
			<h4><strong>登録情報</strong></h4>
			</div>
			<%= link_to "編集する" , edit_members_path, class:"btn btn-primary" %>
			<%= link_to "パスワードを変更する", members_edit_pass_path, class:"btn btn-primary" %>
        		<table class="table table-bordered" >
					 <tr>
					   <th class="info"><%= "氏名" %></th>
					   <td><%= current_member.last_name %><%= current_member.first_name %></td>
					 </tr>
					 <tr>
					   <th class="info"><%= "カナ" %></th>
					   <td><%= current_member.last_name_kana %><%= current_member.first_name_kana %></td>
					 </tr>
					 <tr>
					   <th class="info"><%= "郵便番号" %></th>
					   <td><%= current_member.postal_code %></td>
					 </tr>
					 <tr>
					  <th class="info"><%= "住所" %></th>
					  <td><%= current_member.address %></td>
					 </tr>
					 <tr>
					  <th class="info"><%= "電話番号" %></th>
					  <td><%= current_member.telephone_number %></td>
					 </tr>
					 <tr>
					  <th class="info"><%= "メールアドレス" %></th>
					  <td><%= current_member.email %></td>
					 </tr>
				 </table>
					<div class="member-show-address">
					   <h4><strong>配送先　　</strong></h4><%= link_to "一覧を見る", addresses_path, class:"btn btn-primary" %>
					</div>
					<div class="member-show-order">
					   <h4><strong>注文履歴　</strong></h4> <%= link_to "一覧を見る", orders_path, class:"btn btn-primary" %>
					</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
</div>