<header id="header">
  <div class="logo">
    <p class="navbar-brand"><%= image_tag 'store.jpeg' %><%= link_to "　　ながのCake　　", top_path_url %><span>⻑野県のとある⼩さな洋菓⼦店</span></p>
  </div>
  <div class="info">
    <nav id="mainNav">
      <div class="panel">
        <ul>
          <% if member_signed_in? %>
          <!-- <p class="navbar-text">ようこそ、<%= current_member.last_name %>さん！</p> -->
          <li><%= link_to "マイページ", members_my_page_path %></li>
          <li><%= link_to "商品一覧", items_path %></li>
          <li><%= link_to "カート", carts_path %></li>
          <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></li>
          <% else %>
          <!-- <p class="navbar-text">ようこそ、ゲストさん！</p> -->
          <li><%= link_to "About", home_about_path %></li>
          <li><%= link_to "商品一覧", items_path %></li>
          <li><%= link_to "新規登録", new_member_registration_path %></li>
          <li><%= link_to "ログイン", new_member_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="test">
      <% if member_signed_in? %>
      ようこそ、<%= current_member.last_name %><%= current_member.first_name %>さん<span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
      <% else %>
        ようこそ、ゲストさん
      <% end %>

    </div>
  </div>
</header>
<div id="wrapper">
  <div id="mainBanner">
    <%= image_tag '3852785_m.jpg', size: '930x230' %>
  </div>
</div>