<h4><strong>注文履歴詳細</strong></h4>
<br>
<br>
<br>
<div style="float:left;">
    <strong>購入者</strong><br>
    <strong>配送先</strong><br>
    <strong>支払方法</strong><br>
    <strong>注文ステータス</strong>
</div>
<div style="float:left;">
    <%= @order.name %><br>
    <%= @order.address %><br>
    <%= @order.payment_method %><br>
    <%= form_with(model: @order, url:{action: 'update'}, local: true) do |form| %>
    <%= form.select :order_status, Order.order_statuses.keys %><%= form.submit '更新' %>
	<% end %>
</div>
<div style="clear:both;"></div>
<br>
<div class="row">
	<div class="col-xs-8">
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th>製作ステータス</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% sum_all = 0 %>
				<% @order.order_items.each do |order| %>
				<tr>
					<td><%= order.item.name %></td>
					<td><%= price_include_tax(order.item.price) %></td>
					<td><%= order.amount %></td>
					<td>
						<%= sub_total = price_include_tax(order.item.price).to_i * order.amount %>
						<% sum_all += sub_total.to_i %>
					</td>
					<%= form_with model: order, url: admins_order_item_path(order), method: :patch, local: true do |f| %>
					<td>
						<%= f.select :making_status, OrderItem.making_statuses.keys.map {|k| [k, k]} %>
						<%= f.submit '更新' %></td>
					</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-xs-4">
		<div style="float:left;">
		    <strong>商品合計</strong><br>
		    <strong>送料</strong><br>
		    <strong>請求金額合計</strong>
		</div>
		<div style="float:left;">
			<%= sum_all %><br>
			<%= @order.deliver_charge %><br>
			<strong><%= sum_all + @order.deliver_charge %></strong>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>