<div id="wrapper">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-7">
			<h3 class="heading">注文履歴詳細</h3>
			<p><strong>注文情報</strong></p>
			<table class="table table-borderd">
				<tr>
		    		<th>購入者</th><td><%= @order.name %></td>
		    	</tr>
		    	<tr>
		    		<th>配送先</th><td><%= @order.address %></td>
		    	</tr>
		    	<tr>
		    		<th>支払方法</th><td><%= @order.payment_method %></td>
		    	</tr>
		    	<tr>
		    		<th>注文ステータス</th>
		    		<td>
		    			<%= form_with(model: @order, url:{action: 'update'}, local: true) do |form| %>
		    			<%= form.select :order_status, Order.order_statuses.keys %><%= form.submit '更新', class:"btn btn-primary" %>
		    			<% end %>
		    		</td>
		    	</tr>
			</table>
			<% sum_all = 0 %>
			<P><strong>注文内容</strong></P>
			<table class="table table-borderd">
				<thead>
					<tr>
						<th>商品</th>
						<th>単価（税込）</th>
						<th>個数</th>
						<th>小計</th>
						<th>製作ステータス</th>
					</tr>
				</thead>
				<% @order.order_items.each do |order| %>
				<%= form_with model: order, url: admins_order_item_path(order), method: :patch, local: true do |f| %>
				<tbody>
					<tr>
						<td><%= order.item.name %></td>
						<td><%= price_include_tax(order.item.price) %></td>
						<td><%= order.amount %></td>
						<td><%= sub_total = price_include_tax(order.item.price).to_i * order.amount %></td>
						<td>
							<%= f.select :making_status, OrderItem.making_statuses.keys.map {|k| [k, k]} %>
							<%= f.submit '更新', class:"btn btn-primary" %>
						</td>
						<% sum_all += sub_total.to_i %>
					</tr>
				</tbody>
				<% end %>
				<% end %>
			</table>
		</div>
		<div class="col-xs-3">
			<h1>　　　</h1>
			<p><strong>請求情報</strong></p>
			<table class="table table-borderd">
			<tr>
			    <th>商品合計</th>
			    <td><%= sum_all %>円</td>
			</tr>
			<tr>
			    <th>送料</th>
			    <td><%= @order.deliver_charge %>円</td>
			</tr>
			<tr>
				<th>請求金額合計</th>
			    <td><%= sum_all + @order.deliver_charge %>円</td>
			</tr>
			</table>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>