<!DOCTYPE html>
<html>

<head>
  <title>namespace - members</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'members', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <% content_for :content do %>
  <%= render 'layouts/members/header' %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/members/footer' %>
  <% end %>
  <%= render template: "layouts/application" %>
</body>

</html>