<!DOCTYPE html>
<html>

<head>
  <title>namespace - members</title>
  <%= csrf_meta_tags %>
  <script src="https://kit.fontawesome.com/13939d080b.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">

  <%= stylesheet_link_tag    'members', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
     <% content_for :content do %>
      <%= render 'layouts/members/header' %>
      <%= yield %>
      <%= render 'layouts/members/footer' %>
    <% end %>
    <%= render template: "layouts/application" %>
</body>

</html>