<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h4>マイページ</h4>
			<strong>登録情報</strong>
			<%= link_to "編集する", edit_member_path(@member.id), class:"btn btn-primary" %>
			<%= link_to "パスワードを変更する", member_password_path(@member.id), class:"btn btn-primary" %><%#edit_member_pathからeditを除きました。オカタク。%>
        <table class="table table-bordered" >
				
					 <tr>
					   <td><%= "氏名" %></td>
					   <td><%= current_member.last_name %><%= current_member.first_name %></td>
					 </tr>
					 <tr>
					   <th><%= "カナ" %></th>
					   <th><%= current_member.last_name_kana %><%= current_member.first_name_kana %></th>
					 </tr>
					 <tr>
					   <th><%= "郵便番号" %></th>
					   <th><%= current_member.postal_code %></th>
					 </tr>
					 <tr>
					  <th><%= "住所" %></th>
					  <th><%= current_member.address %></th>
					 </tr>
					 <tr>
					  <th><%= "電話番号" %></th>
					  <th><%= current_member.telephone_number %></th>
					 </tr>
					 <tr>
					  <th><%= "メールアドレス" %></th>
					  <th><%= current_member.email %></th>
					 </tr>
				  </table>
					 <tr>
					   <th><%="配送先" %><%= link_to "一覧を見る"%></th></br>
					  <th><%="注文履歴" %><%= link_to "一覧を見る"%></th>
					</tr>

		</div>
		<div class="col-xs-1"></div>
	</div>
</div>